# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Verify'
      'command': 'Arduino-toolbelt:verify'
    }
    {
      'label': 'Upload'
      'command': 'Arduino-toolbelt:upload'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Arduino-toolbelt'
      'submenu': [
        {
          'label': 'Verify'
          'command': 'Arduino-toolbelt:verify'
        }
        {
          'label': 'Upload'
          'command': 'Arduino-toolbelt:upload'
        }
        {
          'label': 'Reload Port'
          'command': 'Arduino-toolbelt:reload-port'
        }
      ]
    ]
  }
]
